/* Common styles */
body {
  background-color: #000000; /* Dark background color */
  color: #ccc; /* Light text color */
  font-family: Arial, sans-serif; /* Font style */
}

header {
  background-color: #000000; /* Darker background color for header */
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #444; /* Dark background color for navigation */
  padding: 10px;
  text-align: center;
}

nav a {
  color: #ccc; /* Light text color for navigation links */
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #fff; /* Hover color for navigation links */
}

.content {
  padding: 20px;
}

footer {
  background-color: #222; /* Dark background color for footer */
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  color: #ccc; /* Light text color for footer */
}

section {
  background-color: #666; /* Dark gray background color for sections */
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #fff; /* Light text color for section headings */
}


a:link {
  color: green;
  text-decoration: none;
}
a:visited {
  color: pink;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
a:active {
  color: yellow;
  text-decoration: none;
}
/* Additional styles for specific elements */
.car-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.car-images img {
  width: calc(50% - 50px);
  height: auto;
  margin-bottom: 20px;
}

.car-info {
  text-align: center;
  margin-top: 10px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

